<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.market.server.mapper.CategoryMapper">

    <insert id="register" parameterType="com.market.server.dto.CategoryDTO">
        INSERT INTO category (id, name)
        VALUES (#{id}, #{name})
    </insert>

    <update id="updateCategory" parameterType="com.market.server.dto.CategoryDTO">
        UPDATE category
        SET name = #{name}
        WHERE id = #{id}
    </update>

    <delete id="deleteCategory">
        DELETE FROM category
        WHERE id = #{id}
    </delete>

</mapper>