<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.market.server.mapper.ProductSearchMapper">

    <select id="selectProducts" resultType="com.market.server.dto.ProductDTO">
        SELECT `id`,
        `price`,
        `accountId`,
        `title`,
        `contents`,
        `status`,
        `isTrade`,
        `createtime`,
        `updatetime`,
        `deliveryprice`,
        `dibcount`,
        `categoryId`,
        `fileId`
        FROM `product`
        WHERE categoryId = #{categoryId}
    </select>

</mapper>