<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.market.server.mapper.ProductSearchMapper">

    <select id="selectProducts" resultType="com.market.server.dto.ProductDTO">
        SELECT `id`,
        `price`,
        `accountId`,
        `title`,
        `contents`,
        `status`,
        `isTrade`,
        `createtime`,
        `updatetime`,
        `deliveryprice`,
        `dibcount`,
        `categoryId`,
        `fileId`
        FROM `product`
        WHERE categoryId = #{productDTO.categoryId}
        <choose>
            <when test="categoryDTO.sortStatus.toString() == 'CATEGORIES'">
                ORDER BY #{productDTO.categoryId}
            </when>
            <when test="categoryDTO.sortStatus.toString() == 'NEWEST'">
                ORDER BY #{productDTO.createtime} DESC
            </when>
            <when test="categoryDTO.sortStatus.toString() == 'OLDEST'">
                ORDER BY #{productDTO.createtime} ASC
            </when>
            <when test="categoryDTO.sortStatus.toString() == 'HIGHPRICE'">
                ORDER BY #{productDTO.price} DESC
            </when>
            <when test="categoryDTO.sortStatus.toString() == 'LOWPRICE'">
                ORDER BY #{productDTO.price} ASC
            </when>
            <when test="categoryDTO.sortStatus.toString() == 'SALESCOUNTS'">
            </when>
            <when test="categoryDTO.sortStatus.toString() == 'GRADE'">
            </when>
        </choose>
    </select>

</mapper>